<mat-form-field appearance="outline" class="d-block w-100 px-1 mt-1" dir="rtl">
  <mat-label>{{ Label }}</mat-label>

  <input
    *ngIf="isitArabicInputOnly"
    matInput
    [placeholder]="Placeholder"
    [formControl]="control"
    appLimitSpaces
    appOnlyArabicLetters
  />
  <input
    *ngIf="!isitArabicInputOnly"
    matInput
    [placeholder]="Placeholder"
    [formControl]="control"
    appLimitSpaces
  />
  <mat-error
    *ngIf="control.invalid && (control.dirty || control.touched)"
    class="ms-1 fw-bold"
  >
    <mat-error
      *ngIf="control.hasError('required')"
      class="fw-bold d-flex justify-content-start align-items-center"
    >
      يرجى ملء هذا الحقل
    </mat-error>
    <mat-error
      *ngIf="control.hasError('fourNames') && !control.hasError('required')"
      class="fw-bold d-flex justify-content-start align-items-center"
    >
      يرجى إدخال الاسم رباعى
    </mat-error>

    <mat-error
      *ngIf="control.hasError('minlength')"
      class="fw-bold d-flex justify-contnet-start align-items-center"
    >
      يجب أن يحتوي هذا الحقل على عدد أدنى من الأحرف
    </mat-error>
    <mat-error
      *ngIf="control.hasError('maxlength')"
      class="fw-bold d-flex justify-contnet-start align-items-center"
    >
      يجب أن يحتوي هذا الحقل على عدد أقصى من الأحرف
    </mat-error>
  </mat-error>
</mat-form-field>
