<mat-form-field appearance="outline" class="d-block w-100 px-1 mt-1" dir="rtl">
  <mat-label>{{ Label }}</mat-label>
  <mat-select [formControl]="control">
    @for(option of options; track $index){
    <mat-option [value]="option[viewProperty]">{{ option[nameProperty] }}</mat-option>
    }
  </mat-select>
  <mat-error
    *ngIf="control.invalid && (control.dirty || control.touched)"
    class="ms-1 fw-bold"
  >
    <mat-error
      *ngIf="control.hasError('required')"
      class="fw-bold d-flex justify-content-start align-items-center"
    >
      Please Fill This Field
    </mat-error>
  </mat-error>
</mat-form-field>
