<mat-form-field appearance="outline" class="d-block w-100 px-1 mt-1" dir="rtl">
  <mat-label>الايميل</mat-label>
  <input
    matInput
    [placeholder]="Placeholder"
    [formControl]="control"
    appLimitSpaces
    appOnlyEnglishLetters
  />
  <mat-error
    *ngIf="control.invalid && (control.dirty || control.touched)"
    class=""
  >
    <mat-error
      *ngIf="control.hasError('required')"
      class="d-flex justify-content-start align-items-center"
    >
      يرجى ملء هذا الحقل
    </mat-error>

    <mat-error
      *ngIf="control.hasError('minlength')"
      class="d-flex justify-contnet-start align-items-center"
    >
      يجب أن يحتوي هذا الحقل على عدد أدنى من الأحرف
    </mat-error>
    <mat-error
      *ngIf="control.hasError('maxlength')"
      class="d-flex justify-contnet-start align-items-center ms-1 fw-bold"
    >
      يجب أن يحتوي هذا الحقل على عدد أقصى من الأحرف
    </mat-error>
    <mat-error
      *ngIf="control.hasError('email')"
      class="d-flex justify-contnet-start align-items-center ms-1 fw-bold"
    >
      يرجى إدخال بريد إلكتروني بصيغة صحيحة
    </mat-error>
  </mat-error>
</mat-form-field>
